html {
    height: 1px;
}

body {
    color: white;
    background-color: black;
}
.center {
    text-align: center;
}
#game_list {
    width: 100%;
}
#game_list, #game_wrapper {
    float: left;
}
#game_wrapper {
    height: 9px;
    width: 300px;
}
#game_1 {
    margin-right: 10px;
    float: left;
}
#game_2 {
    float: right;
}
#game_1, #game_2 {
    background-color: orange;
    width: calc(50% - 5px);
}

#game_1:hover, #game_2:hover {
    background-color: orangered;
    cursor: pointer;
}

.tetrisCanvas {
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
}