html {
    height: 1px;
}

body {
    color: white;
    background-color: black;
}

.center {
    text-align: center;
}

#game_list {
    margin-top: 2px;
    height: 25px;
    width: 500px;
}

#game_list, #game_wrapper {
    float: left;
}

#game_1, #game_2, #game_3 {
    margin-right: 10px;
    float: left;
}

#game_4 {
    float: left;
}

#game_list > div {
    background-color: orange;
    width: 117px;
}

#game_list > div:hover {
    background-color: orangered;
    cursor: pointer;
}

.tetrisCanvas {
    outline: none;
}